.backParallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax{
    background-image: url("../recursos/imagen-principal-3.jpg");
    @extend .backParallax;
&__dos{
    background-image: url("../recursos/imagen-principal.jfif");
    @extend .backParallax;
}
}